---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/utils/cn';

type Props = {
    slug: string;
    title: string;
    direction: 'prev' | 'next';
} & HTMLAttributes<'a'>;

const { slug: rawSlug, title, direction, class: className, ...props } = Astro.props;

const slug = `/${rawSlug.replace(/^\//, '')}`;

const variants
    = direction === 'prev'
        ? {
              textAlign: 'text-left',
              labelWrapper: 'justify-start',
              icon: 'i-tabler-arrow-left',
              label: 'Previous',
          }
        : {
              textAlign: 'text-right',
              labelWrapper: 'flex-row-reverse',
              icon: 'i-tabler-arrow-right',
              label: 'Next',
          };
---

<a href={slug} class={cn('w-full p-6 bg-card rounded-lg border border-border hover:bg-accent hover:text-accent-foreground', variants.textAlign, className)} {...props}>
    <div class={cn('flex items-center justify-start gap-2 text-sm text-muted-foreground', variants.labelWrapper)}>
        <div class={cn('size-4', variants.icon)}></div>
        <span>{variants.label}</span>
    </div>
    <div class="text-base font-semibold">{title}</div>
</a>
