---
import Button from './Button.astro';

const navigation: { title: string; links: { title: string; href: string }[] }[] = [
  {
    title: 'Getting Started',
    links: [
      { title: 'Introduction', href: '/' },
    ],
  },
  {
    title: 'Self-hosting',
    links: [
      { title: 'Using Docker', href: '/self-hosting/using-docker' },
      { title: 'Using Docker Compose', href: '/self-hosting/using-docker-compose' },
    ],
  },
  {
    title: 'Configuration',
    links: [
      { title: 'Environment variables', href: '/configuration/environment-variables' },
    ],
  },
];
---

<aside id="sidebar" class="bg-card flex-1 justify-end sm:sticky top-0 h-screen border-r sm:flex absolute top-0 left-0 z-50 -translate-x-full sm:translate-x-0 transition-transform duration-200 ease-in-out">
    <div class="min-w-260px p-4">
      <a href="/" class="flex items-center gap-2 px-3 py-1.5">
        <div class="i-tabler-file-text size-6"></div>

        <div class="text-lg font-semibold">Papra Docs</div>
      </a>

      <div class="flex flex-col gap-0.5 mt-6">
        {
          navigation?.map(section => (
            <div class="mb-6">
              <div class="text-sm pl-3 py-1.5 font-semibold">{section.title}</div>
              <ul class="flex flex-col ">
                {section.links.map(link => (
                  <li>
                    <Button as="a" href={link.href} class="w-full flex justify-start p-0 py-1.5 pl-3 h-auto text-muted-foreground hover:bg-accent hover:text-accent-foreground" variant="ghost">
                      {link.title}
                    </Button>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </aside>

  <div id="overlay" class="fixed inset-0 bg-black/40 z-40 sm:hidden transition-opacity duration-200 ease-in-out opacity-0 pointer-events-none backdrop-blur-sm"></div>



<script>
    const menuButtons = document.querySelectorAll('[data-open-sidebar]');
    const sidebar = document.querySelector<HTMLDivElement>('#sidebar')!;
    const overlay = document.querySelector('#overlay')!;

    function openSidebar() {
      sidebar.classList.remove('-translate-x-full');
      sidebar.classList.add('translate-x-0');
      overlay.classList.remove('opacity-0');
      overlay.classList.remove('pointer-events-none');
    }

    function closeSidebar() {
      sidebar.classList.remove('translate-x-0');
      sidebar.classList.add('-translate-x-full');
      overlay.classList.add('opacity-0');
      overlay.classList.add('pointer-events-none');
    }

    menuButtons.forEach(button => button.addEventListener('click', openSidebar));
    overlay.addEventListener('click', closeSidebar);
  </script>
