---
import type { MarkdownHeading } from 'astro';
import Button from './Button.astro';

type Props = {
    headings?: MarkdownHeading[];
};

const { headings: allHeadings } = Astro.props;

const headings = allHeadings?.filter(item => item.depth > 1);
---

{
    headings && headings.length > 0 && (
        <>
            <div class="text-sm font-semibold flex items-center gap-2">
                <div class="i-tabler-align-justified size-4" />
                On this page
            </div>
            <ul class="flex flex-col gap-0.5 mt-2 border-l pl-3 ml-2 py-1">
                {headings.map(item => (
                    <li>
                        <Button as="a" href={`#${item.slug}`} class={`w-full flex justify-start p-0 py-0.5 h-auto text-muted-foreground pl-${(item.depth - 2) * 4}`} variant="link">
                            {item.text}
                        </Button>
                    </li>
                ))}
            </ul>
        </>
    )
}
