---
import Button from './Button.astro';
---

<Button variant="outline" size="icon" class="toggle-theme-button">
    <div class="i-tabler-moon dark:i-tabler-sun size-4.5!"></div>
</Button>

<script>
    const theme = localStorage.getItem('theme');
    if (theme) {
      document.body.dataset.kbTheme = theme;
    } else {
      const isDarkPreferred = window.matchMedia('(prefers-color-scheme: dark)').matches;
      document.body.dataset.kbTheme = isDarkPreferred ? 'dark' : 'light';
    }

    const toggleThemeButtons = document.querySelectorAll('.toggle-theme-button');
    toggleThemeButtons.forEach((button) => {
      button.addEventListener('click', () => {
        document.body.dataset.kbTheme = document.body.dataset.kbTheme === 'dark' ? 'light' : 'dark';
        localStorage.setItem('theme', document.body.dataset.kbTheme);
      });
    });
</script>
